.AddToCart {
    background-color: #ffffff;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
}

.BuyNow {
    background-color: #202123;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
}

.NavButton {
    padding: 10px;
    background-color: #202123;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.NavButton:hover {
    background-color: #3b3b3b;
}

.DisableButton {
    padding: 10px;
    border-radius: 5px;
    background-color: #202123;
    opacity: .5;
    border: none;
    color: white;
    cursor: pointer;
}

.DisableButton:hover {
    cursor: not-allowed;
}