.footer {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;

  /* position: absolute; */
  /* bottom: 0; */

  width: 100%;

  box-shadow: 0px -5px 5px -2px #333333bf;
  -webkit-box-shadow: 0px -5px 5px -2px #333333bf;
  -moz-box-shadow: 0px -5px 5px -2px #333333bf;
}

.container {
  width: 60%;
  height: 70%;
}

.border {
  border: 1px solid black;
}

.row {
  width: 25%;
  height: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  /* border: 1px solid black; */
}

.rowTitle {
  text-decoration: underline;
}

ul {
  display: flex;
  flex-direction: column;

  margin: 4px;
  max-height: 90%;
}

ul a {
  padding: 4px;
  text-decoration: none;
  color: #333;

  text-align: center;
}

.text {
  color: #333;
  text-align: center;
  line-height: 1.5;
}

img {
  width: 100%;
  height: 100%;

  object-fit: contain;
}

.underline {
  text-decoration: underline;
  text-align: center;

  font-weight: bold;
}

.Footer-Social-Media {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Footer-Contact {
  display: flex;
  flex-direction: column;
}