.Cart-Alert {
    transition-delay: 1s;
}

.Cart-Title {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.Cart-Title:hover {
    color: rgb(103, 103, 103)
}

.Cart-Total {
    color: #333;
    font-size: 15px;
}

.Cart-Image:hover {
    opacity: .8;
}

.QuantityModifiers {
    border: none;
    color: #333;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
}

.QuantityModifiers:hover {
    background-color: rgb(215, 215, 215);
}

.DeleteIcon {
    background-color: white;
    color: #C32F27;
    border: 1px solid #C32F27;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.DeleteIcon:hover {
    background-color: rgba(195, 47, 39, .1);
}

.Checkout-Url {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Checkout-Url:hover {
    background-color: rgb(61, 63, 68);
    border-radius: 5px;
}